<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de tipos de actividades</h2>
      <br>
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        
        <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
          <mat-label>iDTipoActividad</mat-label>
          <input matInput placeholder="iDTipoActividad" formControlName="iDTipoActividad" />
        </mat-form-field>
          
        <mat-form-field class="example-full-width">
          <mat-label>Tipo de actividad</mat-label>
          <input matInput placeholder="nombreTipoActividad" formControlName="nombreTipoActividad" maxlength="25"/>
          
          <mat-error
              *ngIf="obtenerControlCampo('nombreTipoActividad')?.errors?.['required']"
            >El nombre del tipo actividad es obligatorio.
          </mat-error>
        </mat-form-field>

        <br>
        <br />
        <div class="button-container">
          <button mat-raised-button color="primary"><mat-icon>library_add</mat-icon> Aceptar</button>
          <button mat-raised-button color="warn" routerLink="/tipoactividad/listar"> <mat-icon>close</mat-icon> Cancelar </button>
        </div>
                 
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>

