<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
  <br>
  <h2>{{"Registro de Configuración General" | translate}}</h2>
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">

      <div class="contenedor-principal">

        <div class="columna">
          <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
            <mat-label>{{"ID" | translate}}</mat-label>
            <input matInput placeholder="ID" formControlName="idConfiguracion" readonly/>
          </mat-form-field>
          <br *ngIf="edicion" >

          <mat-label class="label">{{"Ingrese el color de la interfaz:" | translate}}</mat-label>
          <mat-form-field class="example-full-width">
            <mat-label>{{"Color de la Interfaz" | translate}}</mat-label>
              <input matInput placeholder="Color Inerfaz " formControlName="colorInterfaz" maxlength="15"/>
              <mat-error *ngIf="obtenerControlCampo('colorInterfaz')?.errors?.['required']">{{"El color de la interfaz es obligatorio." | translate}}
              </mat-error>
            </mat-form-field>
          <div class="color1"><color-sketch color="#fff" (onChangeComplete)="colorF($event)"></color-sketch></div>

        </div>
        <div class="columna">

          <mat-label class="label">{{"Ingrese el idioma de la interfaz:" | translate}}</mat-label>
          <mat-form-field>
            <mat-label>{{"Idioma" | translate}}</mat-label>
            <mat-select formControlName="idioma" [(value)]="idIDIoma">
              <mat-option *ngFor="let t of listaID" [value]="t.idIdioma">
                {{t.nombreIdioma}}
              </mat-option>
              <mat-error *ngIf="obtenerControlCampo('idioma')?.errors?.['required']">{{"El idioma de la interfaz es obligatorio." | translate}}
              </mat-error>
            </mat-select>
          </mat-form-field>

          <br/>
          <mat-label class="label">{{"Ingrese el usuario:" | translate}}</mat-label>
          <mat-form-field>
            <mat-label>{{"Usuario" | translate}}</mat-label>
            <mat-select formControlName="usuario" [(value)]="idUsuario">
              <mat-option *ngFor="let c of listaUsuario" [value]="c.id">
                {{c.nombres}}
              </mat-option>
      
              <mat-error *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">{{"El usuario es obligatorio." | translate}}
              </mat-error>
            </mat-select>
          </mat-form-field>
          <br>

          <br>
          <div class="button-container">
            <button class="boton-agregar" mat-raised-button ><mat-icon>library_add</mat-icon> {{"Aceptar" | translate}}</button>
            <button class="boton-cancelar" mat-raised-button routerLink="/components/configuracion/listar">  <mat-icon>close</mat-icon> {{"Cancelar" | translate}} </button>
          </div>

        </div>
      </div>
        
      
      
      <p>{{ mensaje }}</p>
    </form>
  </div>
</body>
</html>
