<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <br>
  <div style=" text-align: center;"> 
    <h2>LISTA DE IDIOMAS</h2> 
  </div>

  <div class="container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="idIdioma">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.idIdioma}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombreIdioma">
        <th mat-header-cell *matHeaderCellDef> Idioma </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreIdioma}} </td>
      </ng-container>

      <!-- ACCIONES -->
      <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            (click)="iralink('edicion', element.idIdioma)"
            ><mat-icon>update</mat-icon>
          </button>
      </td></ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            (click)="eliminar(element.idIdioma)"
            ><mat-icon>delete</mat-icon>
          </button>
      </td></ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
    [pageSizeOptions]="[10, 30, 50]" 
    showFirstLastButtons aria-label="Select page">
  </mat-paginator>
  
</div>
</body>
</html>

