
      /* Estilos para el menú */
      .menu {
        background-color: #f4f4f4;
        padding: 10px;
      }
      /* Estilos para los enlaces */
      .menu a {
        text-align: center;
        text-decoration: none;
        color: #333;
        padding: 8px 16px;
        margin: 0 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
      .menu a:hover {
        background-color: #ddd;
      }

      mat-form-field {
        width: 45%;
    }
