<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <br>
    <h2>{{titulo | translate}}</h2>
    <div class="container" style="text-align: center">
        
        <form [formGroup]="form" (submit)="registrar()" class="example-form">

            <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" formControlName="idEncuesta" readonly/>
            </mat-form-field>
            
            <br>
            <mat-label class="label">Ingrese el nombre de la encuesta:</mat-label>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre encuesta</mat-label>
                <input matInput placeholder="Nombre encuesta" formControlName="nombreEncuesta" maxlength="60"/>
                <mat-error *ngIf="obtenerControlCampo('nombreEncuesta')?.errors?.['required']">El nombre encuesta es obligatorio
                </mat-error>
            </mat-form-field>

            <br>
            <mat-label class="label">Ingrese un comentario:</mat-label>
            <mat-form-field class="example-full-width">
                <mat-label>Comentario</mat-label>
                <input matInput placeholder="Comentario" formControlName="comentario" maxlength="140"/>

                <mat-error *ngIf="obtenerControlCampo('comentario')?.errors?.['required']">El comentario es obligatorio
                </mat-error>
            </mat-form-field>

            <br>
            <mat-label class="label">Seleccione el usuario:</mat-label>
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="usuario">
                    <mat-option *ngFor="let u of listaUsuarios" [value]="u.id">
                        {{u.username}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">Es usuario es obligatorio
                </mat-error>
            </mat-form-field>
            <br/>


            <br />
            <div class="button-container">
                <button class="boton-agregar" mat-raised-button><mat-icon>library_add</mat-icon> Aceptar</button>
                <button class="boton-cancelar" mat-raised-button routerLink="/components/encuestas/listar"> <mat-icon>close</mat-icon> Cancelar </button>
            </div>

            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>

</html>