<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style=" text-align: center;">
    <br>
    <h2>{{"LISTA DE ACTIVIDADES"}}</h2> 
  </div>
  <div class="container">
    <div class="card-container" *ngFor="let element of dataSource.data">
      
      <mat-card>
        <mat-card-header class="titulo">
          <mat-card-title>{{element.nombreActividad}}</mat-card-title>
        </mat-card-header>

        <img mat-card-lg-image src="../assets/images/proyecto/encuesta1.avif"/>
        <br>

        <mat-card-content class="contenido">
          <mat-card-subtitle>{{"Codigo"}}: {{element.idActividad}}</mat-card-subtitle>
          <mat-card-subtitle>{{"Nombre de actividad" | translate}}: {{element.nombreActividad}}</mat-card-subtitle>
          <mat-card-subtitle>{{"Tipo de actividad" | translate}}: {{element.tipoActividad.nombreTipoActividad}}</mat-card-subtitle>
          <mat-card-subtitle>{{"Fecha de cumplimiento" | translate}}: {{element.fecha}}</mat-card-subtitle>
        </mat-card-content>

        <mat-card-actions class="estado">
          <div class="button-container2">
            <button
              mat-raised-button
              [ngClass] ="element.estado == 'Completo' ? 'blue-button' : element.estado == 'Incompleto' ? 'yellow-button' : 'red-button'"
              (click)="estado(element.idActividad)"> {{element.estado}}
            </button>
          </div>
        </mat-card-actions>

        <mat-card-actions class="card-actions">
          <div class="button-container">
            <button class="boton-actualizar"
              mat-raised-button
              (click)="iralink('edicion', element.idActividad.toString())" > <mat-icon>create</mat-icon>
            </button>
            
            <button class="boton-eliminar"
              mat-raised-button
              (click)="confirmar(element.idActividad)"> <mat-icon>delete_forever</mat-icon>
            </button>

          </div>
         
        </mat-card-actions>
        
      </mat-card>
    </div> 
    
  </div> 
</body>
</html>


