<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <br>
    <h2>{{"Registrar respuesta" | translate}}</h2>
    <br>

    <div class="container">
        
        <form [formGroup]="form" (submit)="registrar()" class="example-form">

            <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
                <mat-label>{{"ID" | translate}}</mat-label>
                <input matInput placeholder="idRespuesta" formControlName="idRespuesta" readonly/>
            </mat-form-field>

            <br>
            <mat-label class="label">Seleccione la pregunta:</mat-label>
            <br>
            <mat-form-field>
                <mat-label>{{"Pregunta" | translate}}</mat-label>
                <mat-select formControlName="pregunta_Id">
                    <mat-option *ngFor="let d of listaPregunta" [value]="d.idPregunta"> <!--Se modifico la "t"-->
                        {{d.enunciado}}
                    </mat-option>
                    <mat-error *ngIf="obtenerControlCampo('pregunta_Id')?.errors?.['required']">
                    </mat-error>
                </mat-select>
            </mat-form-field>

            <br>
            <mat-label class="label">Ingrese una respuesta:</mat-label>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>{{"Contenido" | translate}}</mat-label>
                <input matInput placeholder="contenido" formControlName="contenido" maxlength="60" />

                <mat-error *ngIf="obtenerControlCampo('contenido')?.errors?.['required']">{{"The content of the response is required" | translate}}
                </mat-error>
            </mat-form-field>

            <br>
            <br />
            <div class="button-container">
            <button class="boton-agregar" mat-raised-button><mat-icon>library_add</mat-icon>{{"Aceptar" | translate}}</button>
            <button class="boton-cancelar" mat-raised-button  routerLink="/components/respuesta/listar"><mat-icon>cancel</mat-icon>{{"Cancelar" | translate}}</button>
            </div>
            
            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>

</html>