<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <div style=" text-align: center;"> 
        <h2>REGISTRAR ACTIVIDAD</h2> 
    </div>

    <div class="container" style=" text-align: center;">
        <form [formGroup]="form" (submit)="registrar()" class="example-form" >

            <mat-form-field class="example-full-width" *ngIf="edicion" >
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" formControlName="idActividad" readonly/>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de actividad</mat-label>
                <input matInput placeholder="Nombre de actividad" formControlName="nombreActividad" maxlength="25"/>
                
                <mat-error
                  *ngIf="obtenerControlCampo('nombreActividad')?.errors?.['required']"
                  >El nombre de la actividad es obligatorio.
                </mat-error>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Descripción" formControlName="descripcion" maxlength="35" />
                
                <mat-error
                  *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']"
                  >El descripcion es obligatorio.
                </mat-error>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                  <mat-option *ngFor="let t of tipos" [value]="t.value">
                    {{ t.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="obtenerControlCampo('estado')?.errors?.['required']"
                  >El estado es obligatorio.
                </mat-error>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Calificación</mat-label>
                <input matInput placeholder="Calificación" formControlName="calificacion"  type="number" min="0.0" max="20.0"/>
                <mat-hint>0.0 al 20.0</mat-hint>
                <mat-error
                  *ngIf="obtenerControlCampo('calificacion')?.errors?.['required']"
                  >La calificación es obligatorio.
                </mat-error>
            </mat-form-field>

            <br />
            <mat-form-field appearance="fill" class="example-full-width">
            <input
                matInput
                placeholder="Ingrese la fecha"
                [matDatepicker]="picker"
                formControlName="fecha"
                [min]="minFecha"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
                <mat-error
                *ngIf="obtenerControlCampo('fecha')?.errors?.['required']"
                    >La fecha es obligatoria.
                </mat-error>
            </mat-form-field>

            <!--HORARIO-->
            <br>
            <mat-form-field>
                <mat-label>ID de Horario</mat-label>
                <mat-select formControlName="horario">
                  <mat-option *ngFor="let d of listaHorarios" [value]="d.idHorario">
                    {{d.idHorario}}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="obtenerControlCampo('horario')?.errors?.['required']"
                > El horario es obligatorio.
              </mat-error>
            </mat-form-field>

            <!--Tipo actividad-->
            <br>
            <mat-form-field>
                <mat-label>Tipo de actividad</mat-label>
                <mat-select formControlName="tipoActividad">
                  <mat-option *ngFor="let d of listaTipoActividades" [value]="d.iDTipoActividad">
                    {{d.nombreTipoActividad}}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="obtenerControlCampo('tipoActividad')?.errors?.['required']"
                > El nombre del tipo actividad es obligatorio.
              </mat-error>
            </mat-form-field>

            <!--Curso-->
            <br>
            <mat-form-field>
                <mat-label>Nombre de curso</mat-label>
                <mat-select formControlName="curso">
                  <mat-option *ngFor="let d of listaCurso" [value]="d.idCurso">
                    {{d.nombreCurso}}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="obtenerControlCampo('curso')?.errors?.['required']"
                > El nombre del curso es obligatorio.
              </mat-error>
            </mat-form-field>

            <br>
            <button mat-raised-button color="primary"> <mat-icon>library_add</mat-icon> Registrar</button>
            <button mat-raised-button color="warn" routerLink="/actividad/listar"> <mat-icon>close</mat-icon> Cancelar </button>
        </form>
    </div>
</body>
</html>
