<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <div style=" text-align: center;"> 
        <h2>REGISTRAR ACTIVIDAD</h2> 
    </div>

    <div class="container" style=" text-align: center;">
        <form [formGroup]="form" (submit)="registrar()" class="example-form" >
          <div class="contenedor-principal">

            <div class="columna">

              <mat-form-field class="example-full-width" *ngIf="edicion" hidden="true">
                  <mat-label>ID</mat-label>
                  <input matInput placeholder="ID" formControlName="idActividad" readonly/>
              </mat-form-field>

              <mat-label class="label">Ingrese el nombre de la actividad:</mat-label>
              <mat-form-field class="example-full-width">
                  <mat-label>Nombre de la actividad</mat-label>
                  <input matInput placeholder="Nombre de actividad" formControlName="nombreActividad" maxlength="25" />
                  <mat-icon matSuffix>layers</mat-icon>
                  
                  <mat-error
                    *ngIf="obtenerControlCampo('nombreActividad')?.errors?.['required']"
                    >El nombre de la actividad es obligatorio.
                  </mat-error>
              </mat-form-field>

              <mat-label class="label">Ingrese una descripción:</mat-label>
              <mat-form-field class="example-full-width">
                  <mat-label>Descripción</mat-label>
                  <input matInput placeholder="Descripción" formControlName="descripcion" maxlength="35" />
                  <mat-icon matSuffix>comment</mat-icon>
                  
                  <mat-error
                    *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']"
                    >La descripción es obligatoria.
                  </mat-error>
              </mat-form-field>

              <!--HORARIO-->
              <mat-label class="label">Selecione la fecha del cierre de ciclo:</mat-label>
              <mat-form-field>
                  <mat-label>Fecha horario</mat-label>
                  <mat-select formControlName="horario">
                    <mat-option *ngFor="let d of listaHorarios" [value]="d.idHorario">
                      {{d.cierreCiclo}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                  *ngIf="obtenerControlCampo('horario')?.errors?.['required']"
                  > El horario es obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-label class="label" *ngIf="edicion">Selecione el estado de la actividad:</mat-label>
              <mat-form-field class="example-full-width" *ngIf="edicion">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="estado">
                    <mat-option *ngFor="let t of tipos" [value]="t.value">
                      {{ t.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="obtenerControlCampo('estado')?.errors?.['required']"
                    >El estado es obligatorio.
                  </mat-error>
              </mat-form-field>
    
            </div>


            <div class="columna">
              <mat-label class="label">Ingrese la fecha para completar la actividad:</mat-label>
              <mat-form-field appearance="fill" class="example-full-width">
              <input
                  matInput
                  placeholder="Ingrese la fecha"
                  [matDatepicker]="picker"
                  formControlName="fecha"
                  [min]="minFecha"/>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker">
                </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                  *ngIf="obtenerControlCampo('fecha')?.errors?.['required']"
                      >La fecha es obligatoria.
                  </mat-error>
              </mat-form-field>

              <!--Tipo actividad-->
              <mat-label class="label">Selecione el tipo de actividad:</mat-label>
              <mat-form-field>
                  <mat-label>Tipo de actividad</mat-label>
                  <mat-select formControlName="tipoActividad">
                    <mat-option *ngFor="let d of listaTipoActividades" [value]="d.iDTipoActividad">
                      {{d.nombreTipoActividad}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                  *ngIf="obtenerControlCampo('tipoActividad')?.errors?.['required']"
                  > El nombre del tipo de actividad es obligatorio.
                </mat-error>
              </mat-form-field>

              <!--Curso-->
              <mat-label class="label">Selecione el nombre del curso:</mat-label>
              <mat-form-field>
                  <mat-label>Nombre de curso</mat-label>
                  <mat-select formControlName="curso">
                    <mat-option *ngFor="let d of listaCurso" [value]="d.idCurso">
                      {{d.nombreCurso}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                  *ngIf="obtenerControlCampo('curso')?.errors?.['required']"
                  > El nombre del curso es obligatorio.
                </mat-error>
              </mat-form-field>

              <mat-label class="label" *ngIf="edicion">Ingrese la calificación:</mat-label>
              <mat-form-field class="example-full-width" *ngIf="edicion">
                  <mat-label>Calificación</mat-label>
                  <input matInput placeholder="Calificación" formControlName="calificacion"  type="number" min="0.0" max="20.0"/>
                  <mat-hint>Colocar de 0 a 20</mat-hint>
                  <mat-error
                    *ngIf="obtenerControlCampo('calificacion')?.errors?.['required']"
                    >La calificación es obligatorio.
                  </mat-error>
              </mat-form-field>

            </div>
    
          </div>
          
          <br>
          <div class="button-container">
            <button mat-raised-button color="primary"> <mat-icon>library_add</mat-icon> Registrar</button>
            <button mat-raised-button color="warn" routerLink="/components/actividad/listar"> <mat-icon>close</mat-icon> Cancelar </button>
          </div>
          
        </form>
    </div>
</body>
</html>
