<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <br>
    <h2>Registro de PREGUNTAS</h2>

    <div class="container" style="text-align: center">

        <form [formGroup]="form" (submit)="registrar()" class="example-form">

            <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
                <mat-label>ID</mat-label>
                <input matInput placeholder="idPregunta" formControlName="idPregunta" readonly/>
            </mat-form-field>

            <br>
            <mat-label class="label">Seleccione la encuesta:</mat-label>
            <mat-form-field>
                <mat-label>Nombre de la encuesta</mat-label>
                <mat-select formControlName="encuesta_id">
                    <mat-option *ngFor="let d of listaEncuesta" [value]="d.idEncuesta"> <!--Se modifico la "t"-->
                        {{d.nombreEncuesta}}
                    </mat-option>

                    <mat-error *ngIf="obtenerControlCampo('encuesta_id')?.errors?.['required']"> 
                    </mat-error>
                </mat-select>
            </mat-form-field>

            <br/>
            <mat-label class="label">Ingrese el enunciado:</mat-label>
            <mat-form-field class="example-full-width">
                <mat-label>Enunciado</mat-label>
                <input matInput placeholder="enunciado" formControlName="enunciado" maxlength="40"/>

                <mat-error *ngIf="obtenerControlCampo('enunciado')?.errors?.['required']">El enunciado
                    es obligatorio.
                </mat-error>
            </mat-form-field>
            <br>

            <br />
            <div class="button-container">
                <button class="boton-agregar" mat-raised-button><mat-icon>library_add</mat-icon> Aceptar</button>
                <button class="boton-cancelar" mat-raised-button routerLink="/components/pregunta/listar"> <mat-icon>close</mat-icon> Cancelar </button>
            </div>

            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>

</html>