<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container" style="text-align: center">
        <h2>Registro de PREGUNTAS</h2>
        <form [formGroup]="form" (submit)="registrar()" class="example-form">

            <mat-form-field class="example-full-width" *ngIf="edicion" >
                <mat-label>idPregunta</mat-label>
                <input matInput placeholder="idPregunta" formControlName="idPregunta" readonly/>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>enunciado</mat-label>
                <input matInput placeholder="enunciado" formControlName="enunciado" maxlength="35"/>

                <mat-error *ngIf="obtenerControlCampo('enunciado')?.errors?.['required']">El enunciado
                    es obligatorio.
                </mat-error>
            </mat-form-field>

            <br>
            <mat-form-field>
                <mat-label>Nombre de la encuesta</mat-label>
                <mat-select formControlName="encuesta_id" [(value)]="idEncuestaSeleccionada">
                    <mat-option *ngFor="let d of listaEncuesta" [value]="d.idEncuesta"> <!--Se modifico la "t"-->
                        {{d.idEncuesta}}
                    </mat-option>

                    <mat-error *ngIf="obtenerControlCampo('encuesta_id')?.errors?.['required']"> 
                    </mat-error>
                </mat-select>
            </mat-form-field>
            <br/>


            <button mat-raised-button color="primary"><mat-icon>library_add</mat-icon> Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/pregunta"> <mat-icon>close</mat-icon> Cancelar </button>
            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>

</html>