<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <br>
  <div style=" text-align: center;"> 
    <h2>LISTA DEL TIPO ACTIVIDAD</h2> 
  </div>
  
  <div class="container">

    <div class="card-container" *ngFor="let element of dataSource.data">
      <mat-card>
        <mat-card-header>
         
          <mat-card-title>{{element.nombreTipoActividad}}</mat-card-title>
          <mat-card-subtitle>Código: {{element.iDTipoActividad}}</mat-card-subtitle>
          <mat-card-subtitle>Tipo Actividad: {{element.nombreTipoActividad}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-lg-image src="../assets/images/TipoActividad2.jpg"/>
        <mat-card-actions class="card-actions">
          <button class="card-actions-button"
            mat-raised-button
            color="primary"
            [routerLink]="['/tipoactividad/edicion', element.iDTipoActividad]"
            
          > <mat-icon>create</mat-icon>
          </button>
 
          <button class="card-actions-button"
            mat-raised-button
            color="warn"
            (click)="confirmar(element.iDTipoActividad)"
          > <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
        
      </mat-card>
    </div> 
    
  </div> 
</body>
</html>