body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-height: 100vh; /*Para que tenga color en toda la página*/
}

.container {
  width: 64%; /* Ajusta este porcentaje según tus necesidades */
  height: 560px;
  background-color: #EBD481; /*COLOR DE LA TABLA*/
  border: 1px solid #ccc; /*Color del borde de la TABLA*/
  padding: 30px;  
  
  /* Ajusta el diseño de la cuadrícula */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  width: 280px; /* Ancho de los cards */
  margin: 10px; /* Margen de los cards */
}

.card-actions {
  margin: 20px; /* Margen de las acciones */
  display: flex; /* Habilita el diseño Flexbox para las acciones */
  justify-content: center; /* Alinea las acciones al centro */
  align-items: center; /* Alinea las acciones verticalmente al centro */
}

.card-container {
  display: flex; /* Habilita el diseño Flexbox para los cards */
  margin: 20px; /* Margen de los cards */
}

.card-actions-button {
  margin-right: 20px; /* Ajusta el espacio entre los botones */
}