<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div><h1>Candidad de actividades entre intervalo</h1></div>
    <br>
    
    <div class="container">
        <div>
            <mat-label class="label">{{"Seleccione la fecha de inicio"}}</mat-label>
            <mat-form-field appearance="fill" class="example-full-width">
              <input
                matInput
                placeholder="{{'Fecha de inicio'}}"
                [matDatepicker]="picker"
                formControlName="fechaInicioFM"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="obtenerControlCampo('fechaInicioFM')?.errors?.['required']"
              >
                {{"Obligatorio"}}
              </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-label class="label">{{"Seleccione la fecha de fin"}}</mat-label>
            <mat-form-field appearance="fill" class="example-full-width">
              <input
                matInput
                placeholder="{{'Fecha de fin'}}"
                [matDatepicker]="picker"
                formControlName="fechaFinFM"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="obtenerControlCampo('fechaFinFM')?.errors?.['required']"
              >
                {{"Obligatorio"}}
              </mat-error>
            </mat-form-field>
        </div>
        <div>
            <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabel"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [type]="barChartType"
            >

            </canvas>
        </div>
    </div>
    <div class="button-container">
      <button class="boton-agregar" mat-raised-button><mat-icon>library_add</mat-icon>{{"Aceptar"}}</button>
  </div>
</body>
</html>
