<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br>
    <h2>{{titulo | translate}}</h2>

    <div class="container" style="text-align: center">
      
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
          <mat-label>iDTipoRecurso</mat-label>
          <input
            matInput
            placeholder="iDTipoRecurso"
            formControlName="iD"
            readonly
          />
        </mat-form-field>

        <mat-label class="label">Ingrese del tipo de recurso:</mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre tipo recurso</mat-label>
          <input
            matInput
            placeholder="nombreTipo"
            formControlName="nombreTipo"
            maxlength="15"
          />
          <mat-error
            *ngIf="obtenerControlCampo('nombreTipo')?.errors?.['required']"
            >El nombre del tipo recurso es obligatorio.
          </mat-error>
        </mat-form-field>

        <br>
        <br>
        <div class="button-container">
          <button class="boton-agregar" mat-raised-button> <mat-icon>library_add</mat-icon> Aceptar</button>
          <button class="boton-cancelar" mat-raised-button routerLink="/components/tiporecurso/listar"><mat-icon>close</mat-icon> Cancelar</button>
        </div>
        

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
