<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de tipos de recursos</h2>
      <br>
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
          <mat-label>iDTipoRecurso</mat-label>
          <input
            matInput
            placeholder="iDTipoRecurso"
            formControlName="iD"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre tipo recurso</mat-label>
          <input
            matInput
            placeholder="nombreTipo"
            formControlName="nombreTipo"
            maxlength="15"
          />
          <mat-error
            *ngIf="obtenerControlCampo('nombreTipo')?.errors?.['required']"
            >El nombre del tipo recurso es obligatorio.
          </mat-error>
        </mat-form-field>

        <br>
        <br>
        <button mat-raised-button color="primary">
          <mat-icon>library_add</mat-icon> Aceptar
        </button>
        <button mat-raised-button color="warn" routerLink="/tiporecurso/listar">
          <mat-icon>close</mat-icon> Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
