<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
  <div style=" text-align: center;"> 
    <h2>LISTA DE RECURSOS ACADEMICOS</h2> 
  </div>

  <div class="container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.iD}} </td>
      </ng-container>
      <ng-container matColumnDef="enlace">
        <th mat-header-cell *matHeaderCellDef> enlace </th>
        <td mat-cell *matCellDef="let element"> {{element.enlaceRecurso}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreRecurso}} </td>
      </ng-container>

      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> autor </th>
        <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha Publicacion">
        <th mat-header-cell *matHeaderCellDef> fecha publicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaPublicacion | date:"dd/MM/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
      <ng-container matColumnDef="tipo de recurso">
        <th mat-header-cell *matHeaderCellDef> tipo recurso </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoRecurso_ID.nombreTipo}} </td>
      </ng-container>
      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> curso </th>
        <td mat-cell *matCellDef="let element"> {{element.curso_IdCurso.nombreCurso}} </td>
      </ng-container>
      <!-- ACCIONES -->
      <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/recursoacademico/edicion', element.iD]"
            ><mat-icon>update</mat-icon> Actualizar
          </button>
      </td></ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            (click)="eliminar(element.iD)"
            ><mat-icon>delete</mat-icon> Eliminar
          </button>
      </td></ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>
    <button mat-button color="primary" routerLink="/recursoacademico/nuevo"> <mat-icon>library_add</mat-icon> Registrar</button>

    <mat-paginator 
    [pageSizeOptions]="[3, 6, 9]" 
    showFirstLastButtons aria-label="Select page">
  </mat-paginator>
  </div>
</body>
</html>