<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div><h1>Actividad máxima por fecha</h1></div>
        <div>
            <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabel"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [type]="barChartType"
            >

            </canvas>
        </div>
    </div>
</body>
</html>
