<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <div style=" text-align: center;">
        <br> 
        <h2>{{titulo | translate}}</h2>
    </div>

    <div class="container">
        <form [formGroup]="form" (submit)="registrar()" class="example-form" >

            <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
                <mat-label>idHorario</mat-label>
                <input matInput placeholder="idIngredient" formControlName="idHorario" readonly/>
            </mat-form-field>

            <br />
            <mat-label class="label">Seleccione la fecha de cierre de ciclo</mat-label>
            <br>
            <br>
            <mat-form-field appearance="fill" class="example-full-width">
            <input
                matInput
                placeholder="Ingrese la fecha"
                [matDatepicker]="picker"
                formControlName="cierreCiclo"
                [min]="maxFecha"
            />
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
                <mat-error
                *ngIf="obtenerControlCampo('cierreCiclo')?.errors?.['required']"
                    >Obligatorio*
                </mat-error>
            </mat-form-field>

            <!--Usuarios-->
            <br>
            <mat-label class="label" *ngIf="role == 'Administrador'">Seleccione su usuario</mat-label>
            <br>
            <br>
            <mat-form-field  *ngIf="role == 'Administrador'">
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="usuario">
                  <mat-option *ngFor="let d of listaUsuarios" [value]="d.id">
                    {{d.username}}
                  </mat-option>
                  
                  <mat-error
                    *ngIf="obtenerControlCampo('usuario')?.errors?.['required']"
                    > El nombre es obligatorio.
                  </mat-error>
                </mat-select>
            </mat-form-field>

            <br>
            <br>
            <div class="button-container">

            </div>
            <div class="button-container">
                <button class="boton-agregar" mat-raised-button><mat-icon>library_add</mat-icon>{{"Aceptar" | translate}}</button>
                <button class="boton-cancelar" mat-raised-button  routerLink="/components/horario/listar"><mat-icon>cancel</mat-icon>{{"Cancelar" | translate}}</button>
            </div>
            <br>
            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>
</html>
