body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-height: 100vh; /*Para que tenga color en toda la página*/
}
  
.center {
  text-align: center;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px); /* Ten en cuenta la altura del menú */
}
  
.container {
  width: 50%; /* Ajusta este porcentaje según tus necesidades */
  background-color: #fff; /*COLOR DEL contenedor*/
  border: 30px solid #F0C481; /*Color del borde del contenedor*/
  padding: 30px;
  margin: 20px auto; /*Espacio entre el menu y el contenedor*/
}
  

.contenedor-principal {
  display: flex;
  justify-content: space-around;
}
 
.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
mat-form-field {
  width: 80%;
}

.label{
  font-size: 20px; /* Aumenta el tamaño de la fuente */ 
  text-align: left; /* Alinea el texto a la izquierda */
  width: 79%;
  margin-bottom: 10px; /* Esto añade un espacio de 10px debajo del mat-label */
}

/* Estilos para los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Agrega un espacio entre los botones */
}

.boton-agregar{
  background-color: #6eb8db;
  color: white; /* Color del texto */
}
.boton-cancelar{
  background-color: #b8cd51;
  color: white; /* Color del texto */
}
 