<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br>
    <h2 class="titulo">{{titulo | translate}}</h2>

    <div class="container" style="text-align: center">

      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        
        <mat-form-field class="example-full-width" *ngIf="edicion" hidden>
          <mat-label>idIdioma</mat-label>
          <input matInput placeholder="idIdioma" formControlName="idIdioma" readonly="true"/>
        </mat-form-field>
        
        <mat-label class="label">Seleccione el idioma:</mat-label>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre idioma</mat-label>
          <mat-select formControlName="nombreIdioma">
            <mat-option *ngFor="let t of idiomasDis" [value]="t.value">
              {{ t.viewValue }}
            </mat-option>
          </mat-select>
        
          <mat-error
              *ngIf="obtenerControlCampo('nombreIdioma')?.errors?.['required']"
            >El nombre del idioma es obligatorio.
          </mat-error>
        </mat-form-field>

        <br>
        <br />
        <div class="button-container">
          <button class="boton-agregar" mat-raised-button><mat-icon>library_add</mat-icon> Aceptar</button>
          <button class="boton-cancelar" mat-raised-button routerLink="/components/idioma/listar"> <mat-icon>close</mat-icon> Cancelar </button>
        </div>

        
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>

