<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <br>
  <div style=" text-align: center;">
    <br> 
    <h2>{{"BÚSQUEDA DE RECURSOS ACADÉMICOS" | translate}}</h2> 
    <br>
  </div>

    <div [formGroup]="fechaForm">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Seleccione una fecha"
          formControlName="fecha"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
       
      </mat-form-field>
      <button (click)="buscar()" mat-raised-button class="boton-eliminar">{{"Buscar" | translate}}</button>
    </div>

  <div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>  {{"ID" | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.iD}} </td>
      </ng-container>
      <ng-container matColumnDef="enlace">
        <th mat-header-cell *matHeaderCellDef> {{"Enlace" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.enlaceRecurso}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> {{"Nombre" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreRecurso}} </td>
      </ng-container>

      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> {{"Autor" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha Publicacion">
        <th mat-header-cell *matHeaderCellDef> {{"Fecha publicación" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaPublicacion | date:"dd/MM/yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> {{"Descripción" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
      <ng-container matColumnDef="tipo de recurso">
        <th mat-header-cell *matHeaderCellDef> {{"Tipo de recurso" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoRecurso_ID.nombreTipo}} </td>
      </ng-container>
      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> {{"Curso" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.curso_IdCurso.nombreCurso}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
    <!-- ... tu código existente ... -->
    <div *ngIf="mensaje" style="color: red; margin-top: 10px;">{{ mensaje }}</div>

</body>
</html>
