body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    min-height: 100vh; /*Para que tenga color en toda la página*/
  }
  .menu {
    background-color: grey; /*Color del menu*/
    padding: 10px;
    text-align: justify;
  }
  .menu a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .center {
    text-align: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px); /* Ten en cuenta la altura del menú */
  }
  
  .container {
    width: 100%; /* Ajusta este porcentaje según tus necesidades */
    background-color: #fff; /*COLOR DE LA TABLA*/
    border: 1px solid #ccc; /*Color del borde de la TABLA*/
    padding: 30px;

    
  }
  
  
  .custom-table {
    width: 100%;
    display: flex; /* Habilita el diseño Flexbox para las filas */
    flex-direction: column; /* Las filas se ajustarán verticalmente */
   }
  
  th {
    background-color: #cf1010;
    color: rgb(75, 72, 72);
    text-align: center; /*TITULO de las columnas*/
    
  }
  
  td {
    background-color: #f2f2f2; /*Contenido de la tabla*/
    color: #333;
    text-align: center; /*Contenido de la tabla*/
    
 }
 