<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div class="container" style="text-align: center">
  <h2>Registro de Recurso Academico</h2>
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">

    <mat-form-field class="example-full-width" *ngIf="edicion" >
      <mat-label>id</mat-label>
      <input matInput placeholder="ID" formControlName="idRecursoAcademico" readonly/>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>enlace</mat-label>
      <input matInput placeholder="http//:example.com" formControlName="enlace" />

      <mat-error *ngIf="obtenerControlCampo('enlace')?.errors?.['required']">El contenido de la respuesta
        es obligatorio.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>nombre</mat-label>
      <input matInput placeholder="nombre" formControlName="nombre" />

      <mat-error *ngIf="obtenerControlCampo('nombre')?.errors?.['required']">El contenido de la respuesta
        es obligatorio.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>autor</mat-label>
      <input matInput placeholder="autor" formControlName="autor" />

      <mat-error *ngIf="obtenerControlCampo('autor')?.errors?.['required']">El contenido de la respuesta
        es obligatorio.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>descripcion</mat-label>
      <input matInput placeholder="descripcion" formControlName="descripcion" />

      <mat-error *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']">El contenido de la respuesta
        es obligatorio.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="example-full-width">
      <input
        matInput
        placeholder="Fecha de publicacion"
        [matDatepicker]="picker"
        formControlName="fechaPublicacion"
        [max]="maxFecha"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="obtenerControlCampo('fechaPublicacion')?.errors?.['required']"
      >
       Obligatorio.
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Tipo de recurso academico</mat-label>
      <mat-select formControlName="TipoRecursoDTO" [(value)]="idTipoRecurso">
        <mat-option *ngFor="let t of listaTR" [value]="t.iD">
          {{t.nombreTipo}}
        </mat-option>

        <mat-error *ngIf="obtenerControlCampo('TipoRecursoDTO')?.errors?.['required']">
        </mat-error>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Curso</mat-label>
      <mat-select formControlName="CursoDTO" [(value)]="idCurso">
        <mat-option *ngFor="let c of listaCursos" [value]="c.idCurso">
          {{c.nombreCurso}}
        </mat-option>

        <mat-error *ngIf="obtenerControlCampo('CursoDTO')?.errors?.['required']">
        </mat-error>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary"><mat-icon>library_add</mat-icon> Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/recursoacademico"> <mat-icon>close</mat-icon> Cancelar </button>
    <p>{{ mensaje }}</p>
  </form>
</div>
</body>
</html>
