<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<footer>
  <mat-toolbar [ngClass]="{'color-admin': role == 'Administrador', 'color-estudiante': role == 'Estudiante'}" *ngIf="verificar()" [style.background-color]="colorActivo">
    <button (click)="drawer.toggle()"  mat-icon-button> <mat-icon>menu</mat-icon> </button> <!--Ayuda a que se oculte-->
    <span>BeeOrganized</span>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon>sms</mat-icon></button>
    <label>{{role}} {{username}}, con la id de usuario {{id}}</label>
</mat-toolbar>
</footer>
<body>
  
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="push" position="start"> <!--over: Para darle tono oscuro al darle clic al menu, push: mueve el contenido hacia la derecha, side:se queda ahi, end: el menu aparece a la derecha-->
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="cerrar()"><mat-icon>home</mat-icon>Cerrar sesión</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuUsuarios" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>people</mat-icon>Usuarios</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuHorario" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>schedule</mat-icon>Horario</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuCursos" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>book</mat-icon>Cursos</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuConfiguracion" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>settings</mat-icon>Configuracion</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuActividad" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>layers</mat-icon>Actividad</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuRespuesta" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>check_box</mat-icon>Respuesta</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuRecursoAcademico" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>dns</mat-icon>Recurso Academico</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuTipoRecurso" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>assignment_ind</mat-icon>Tipo Recurso</button>
      </mat-list-item>

    
      
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuTipoUsuario" *ngIf="role == 'Administrador'"><mat-icon>person</mat-icon>Tipo Usuario</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuTipoActividad" *ngIf="role == 'Administrador'"><mat-icon>assignment</mat-icon>Tipo Actividad</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuIdioma" *ngIf="role == 'Administrador'"><mat-icon>language</mat-icon>Idioma</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuEncuesta" *ngIf="role == 'Administrador'"><mat-icon>poll</mat-icon>Encuesta</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuPregunta" *ngIf="role == 'Administrador'"><mat-icon>question_answer</mat-icon>Pregunta</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button *ngIf="role == 'Administrador'"><mat-icon>markunread_mailbox</mat-icon>Reportes</button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="text-align: center; min-height: 800px;"> <!--1200px-->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item (click)="iralink('usuarios','nuevo')"><mat-icon>dns</mat-icon> Registrar</button>
    <button mat-menu-item (click)="iralink('usuarios','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuTipoUsuario="matMenu">
    <button mat-menu-item (click)="iralink('tipousuario','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('tipousuario','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuConfiguracion="matMenu">
    <button mat-menu-item (click)="iralink('configuracion','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('configuracion','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuTipoActividad="matMenu">
    <button mat-menu-item (click)="iralink('tipoactividad','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('tipoactividad','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuTipoRecurso="matMenu">
    <button mat-menu-item (click)="iralink('tiporecurso','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('tiporecurso','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuCursos="matMenu">
    <button mat-menu-item (click)="iralink('cursos','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('cursos','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuIdioma="matMenu">
    <button mat-menu-item (click)="iralink('idioma','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('idioma','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuPregunta="matMenu">
    <button mat-menu-item (click)="iralink('pregunta','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('pregunta','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuRespuesta="matMenu">
    <button mat-menu-item (click)="iralink('respuesta','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('pregunta','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuRecursoAcademico="matMenu">
    <button mat-menu-item (click)="iralink('recursoacademico','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('recursoacademico','listar')"><mat-icon>dns</mat-icon>Listar</button>
    <button mat-menu-item (click)="iralink('recursoacademico','buscarfecha')"><mat-icon>dns</mat-icon>Buscar fecha</button>
  </mat-menu>
  
  <mat-menu #menuEncuesta="matMenu">
    <button mat-menu-item (click)="iralink('encuestas','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('encuestas','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuHorario="matMenu">
    <button mat-menu-item (click)="iralink('horario','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('horario','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
  
  <mat-menu #menuActividad="matMenu">
    <button mat-menu-item (click)="iralink('actividad','nuevo')"><mat-icon>dns</mat-icon>Registrar</button>
    <button mat-menu-item (click)="iralink('actividad','listar')"><mat-icon>dns</mat-icon>Listar</button>
  </mat-menu>
    
</mat-drawer-container>
</body>
</html>


