<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<footer>
  <mat-toolbar [ngClass]="{'color-admin': role == 'Administrador', 'color-estudiante': role == 'Estudiante'}" *ngIf="verificar()" [style.background-color]="colorActivo">
    <button (click)="drawer.toggle()"  mat-icon-button> <mat-icon>menu</mat-icon> </button> <!--Ayuda a que se oculte-->
    <span>BeeOrganized</span>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon>sms</mat-icon></button>
    <label>{{role}} {{username}}, {{"con la id de usuario" | translate}} {{id}}</label>
</mat-toolbar>
</footer>
<body>
  
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="push" position="start"> <!--over: Para darle tono oscuro al darle clic al menu, push: mueve el contenido hacia la derecha, side:se queda ahi, end: el menu aparece a la derecha-->
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="cerrar()"><mat-icon>home</mat-icon> {{"Cerrar sesión" | translate}} </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuUsuarios" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>people</mat-icon>{{UsuarioAltTitulo | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuHorario" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>schedule</mat-icon>{{"Horario" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuCursos" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>book</mat-icon>{{"Cursos" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuConfiguracion" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>settings</mat-icon>{{"Configuración" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuActividad" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>layers</mat-icon>{{"Actividad" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuRespuesta" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>check_box</mat-icon>{{"Respuestas" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuRecursoAcademico" *ngIf="role == 'Estudiante' || role == 'Administrador'"><mat-icon>dns</mat-icon>{{"Recursos Académicos" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuTipoRecurso" *ngIf="role == 'Administrador'"><mat-icon>assignment_ind</mat-icon>{{"Tipos de Recursos" | translate}}</button>
      </mat-list-item>

    
      
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuTipoUsuario" *ngIf="role == 'Administrador'"><mat-icon>person</mat-icon>{{"Tipos de Usuarios" | translate}}</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuTipoActividad" *ngIf="role == 'Administrador'"><mat-icon>assignment</mat-icon>{{"Tipo de Actividades" | translate}}</button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuIdioma" *ngIf="role == 'Administrador'"><mat-icon>language</mat-icon>{{"Idiomas" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuEncuesta" *ngIf="role == 'Administrador'"><mat-icon>poll</mat-icon>{{"Encuestas" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuPregunta" *ngIf="role == 'Administrador'"><mat-icon>question_answer</mat-icon>{{"Preguntas" | translate}}</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="menuReportes" *ngIf="role == 'Administrador'"><mat-icon>markunread_mailbox</mat-icon>{{"Reportes" | translate}}</button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="text-align: center; min-height: 800px;"> <!--1200px-->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item (click)="iralink('usuarios','nuevo')" *ngIf="role == 'Administrador'"><mat-icon>dns</mat-icon> {{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('usuarios','listar')"><mat-icon>dns</mat-icon>{{AltBoton | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuTipoUsuario="matMenu">
    <button mat-menu-item (click)="iralink('tipousuario','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('tipousuario','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuConfiguracion="matMenu">
    <button mat-menu-item (click)="iralink('configuracion','nuevo')" *ngIf="role == 'Administrador'"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('configuracion','listar')"><mat-icon>dns</mat-icon>{{AltBoton | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuTipoActividad="matMenu">
    <button mat-menu-item (click)="iralink('tipoactividad','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('tipoactividad','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuTipoRecurso="matMenu">
    <button mat-menu-item (click)="iralink('tiporecurso','nuevo')" ><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('tiporecurso','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuCursos="matMenu">
    <button mat-menu-item (click)="iralink('cursos','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('cursos','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuIdioma="matMenu">
    <button mat-menu-item (click)="iralink('idioma','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('idioma','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuPregunta="matMenu">
    <button mat-menu-item (click)="iralink('pregunta','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('pregunta','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuRespuesta="matMenu">
    <button mat-menu-item (click)="iralink('respuesta','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('respuesta','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuRecursoAcademico="matMenu">
    <button mat-menu-item (click)="iralink('recursoacademico','nuevo')" *ngIf="role == 'Administrador'"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('recursoacademico','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
    <button mat-menu-item (click)="iralink('recursoacademico','buscarfecha')"><mat-icon>dns</mat-icon>{{"Buscar fecha" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuEncuesta="matMenu">
    <button mat-menu-item (click)="iralink('encuestas','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('encuestas','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuHorario="matMenu">
    <button mat-menu-item (click)="iralink('horario','nuevo')"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item (click)="iralink('horario','listar')"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>
  
  <mat-menu #menuActividad="matMenu">
    <button mat-menu-item routerLink="/components/actividad/nuevo"><mat-icon>dns</mat-icon>{{"Registrar" | translate}}</button>
    <button mat-menu-item routerLink="/components/actividad/listar"><mat-icon>dns</mat-icon>{{"Listar" | translate}}</button>
  </mat-menu>

  <mat-menu #menuReportes="matMenu">
    <button mat-menu-item routerLink="/components/reportes/reportejulio"><mat-icon>dns</mat-icon>{{"Reporte 1" | translate}}</button>
    <button mat-menu-item routerLink="/components/reportes/reportefabian"><mat-icon>dns</mat-icon>{{"Reporte 2" | translate}}</button>
    <button mat-menu-item routerLink="/components/reportes/reportesebastian"><mat-icon>dns</mat-icon>{{"Reporte 3" | translate}}</button>
    <button mat-menu-item routerLink="/components/reportes/reportejuan"><mat-icon>dns</mat-icon>{{"Reporte 4" | translate}}</button>
  </mat-menu>
    
</mat-drawer-container>
</body>
</html>


