body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%; /* Ajusta este porcentaje según tus necesidades */
    background-color: #fff; /*COLOR DE LA TABLA*/
    border: 30px solid #ccc; /*Color del borde de la TABLA d8c382*/
    padding: 30px;
  }

.label{
  font-size: 19px; /* Aumenta el tamaño de la fuente */ 
  text-align: left; /* Alinea el texto a la izquierda */
  width: 79%;
  margin-bottom: 20px; /* Esto añade un espacio de 10px debajo del mat-label */
}
/* Estilos para los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Agrega un espacio entre los botones */
}